@model Registration
@{
    ViewData["Title"] = "Registration";
}

    <section id="about">
        <div class="section-header">
            <h2>@Html.DisplayFor(model => model.Title)</h2>
        </div>

        <div class="container-fluid">
            <div class="row no-gutters">
                <div class="col-lg-6 col-md-6" style="float:left;">
                    <table>
                        @foreach (Ticket ti in Model.Tickets)
                        {
                            <tr>
                                <td>
                                    <h3>@Html.DisplayFor(model => ti.Name)</h3>
                                    <span>@Html.Raw(ti.Description)</span>
                                </td>
                                <td>
                                    <h3>$@Html.DisplayFor(model => @ti.Price)</h3>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
                <!--==========================
                Hubspot Form
                ============================-->
                <div class="col-lg-4 col-md-4 col-sm-2">
                    @await Component.InvokeAsync("RegistrationForm")
                </div>
            </div>
        </div>
    </section>