@model IEnumerable<Sponsor>
@{
    ViewData["Title"] = "Sponsors";
}

    <section id="supporters">
        <div class="section-header">
            <h2>Our Sponsors:</h2>
        </div>
        <div class="container">
            <div class="row no-gutters supporters-wrap clearfix">
                @foreach (Sponsor sp in Model)
                {
                <div class="wow fadeInUp">
                    <a href="@sp.Website" target="_blank">
                        <img class="supporter-logo" src="@sp.Logo.First().Url" />
                        <h1>@Html.DisplayFor(model => sp.Name)</h1>
                    </a>
                    <p>
                        @Html.DisplayFor(model => sp.Description)
                    </p>
                </div>
                }
            </div>
            </div>
    </section>